body {
  font-family: Arial, sans-serif;
  background-color: #dfdff5;
  color: #333;
  margin: auto;
  height: auto;
  width: 70%;
  padding: 30px;
  align-items: center;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

img[alt="logo"] {
  width: 30%;
  height: 30%;
}

header h1 {
  color: #ff6600;
  margin: 0;
  font-size: 2rem;
}

header p {
  font-size: 1rem;
  color: #666;
  margin: 0.5rem 0 0;
}

h1 {
  text-align: center;
  color: #ff6600;
}

.form-field {
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 1.2rem;
  font-weight: bold;
  color: #333;
}

.form-field { 
  padding: 20px;
}

input[type="text"] {
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

label[for*="radio"] + div > div{
  display: flex;
  padding: 5px;
  text-align: left;
}


label[for*="radio"] + div > div label{
  font-weight: normal;
}

input[type="radio"] {
  --s: 1em;
  --c: #39a5ee;

  width: auto;
  margin-right: 0.5rem;
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background: 
     radial-gradient(farthest-side,var(--c) 94%,#0000) 
     50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}
input[type=radio]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e05500;
}

iframe {
  width: 100%;
  height: 650px;
  border: none;
}

/* Media query for smaller screens */
@media screen and (max-width: 968px) {
  body {
    width: 95%; /* Adjust width to 70% for smaller screens */
    margin-top: 10px;
    padding: 15px; /* Optional: Reduce padding for better spacing */
  }

  header h1 {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  header p {
    font-size: 0.8rem;
    color: #666;
    margin: 0.5rem 0 0;
  }

  img[alt="logo"] {
    width: 40%;
    height: 40%;
  }

  button[type="submit"] {
    font-size: 0.9rem; /* Slightly smaller button text */
  }
}

